<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CmsHelpCategoryMapper">
    <resultMap id="BaseResultMap" type="com.example.mall.model.CmsHelpCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="help_count" jdbcType="INTEGER" property="helpCount"/>
        <result column="show_status" jdbcType="INTEGER" property="showStatus"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
          <foreach collection="oredCriteria" item="criteria" separator="or">
              <if test="criteria.valid">
                  <trim prefix="(" prefixOverrides="and" suffix=")">
                      <foreach collection="criteria.criteria" item="criterion">
                          <choose>
                              <when test="criterion.noValue">
                                  and ${criterion.condition}
                              </when>
                              <when test="criterion.singleValue">
                                  and ${criterion.condition} ${criterion.vaule}
                              </when>
                              <when test="criterion.betweenValue">
                                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                              </when>
                              <when test="criterion.listValue">
                                  and ${criterion.condition}
                                  <foreach collection="criterion.value" open="(" close=")" item="listItem" separator=",">
                                      #{listItem}
                                  </foreach>
                              </when>
                          </choose>
                      </foreach>
                  </trim>
              </if>
          </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        <if test="true">
            id, name, icon, help_count, show_status, sort
        </if>
    </sql>

    <select id="selectByExample" parameterType="com.example.mall.model.CmsHelpCategoryExample" resultMap="BaseResultMap">


    </select>
</mapper>